# Transformer Evaluation

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os
from pathlib import Path

wd = Path(os.path.dirname(os.path.abspath("__file__"))).parent.resolve()
sys.path.append(str(wd))

import torch
import torch.nn.functional as F
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error
from tqdm import tqdm
from datetime import datetime, timedelta
from src.models.auction_transformer import AuctionTransformer
from src.models.inference import predict_dataframe

pd.options.display.max_columns = None
pd.options.display.width = None

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(f"Using device: {device}")

Using device: cuda

In [3]:
prediction_time = datetime.strptime("2025-03-20 00:00:00", "%Y-%m-%d %H:%M:%S")

mappings_dir = '../generated/mappings'

with open(os.path.join(mappings_dir, 'item_to_idx.json'), 'r') as f:
        item_to_idx = json.load(f)

with open(os.path.join(mappings_dir, 'context_to_idx.json'), 'r') as f:
    context_to_idx = json.load(f)
    
with open(os.path.join(mappings_dir, 'bonus_to_idx.json'), 'r') as f:
    bonus_to_idx = json.load(f)

with open(os.path.join(mappings_dir, 'modtype_to_idx.json'), 'r') as f:
    modtype_to_idx = json.load(f)

feature_stats = torch.load('../generated/feature_stats.pt')

time_left_mapping = {
    'VERY_LONG': 48,
    'LONG': 12,
    'MEDIUM': 2,
    'SHORT': 0.5
}

In [4]:
def load_auctions_from_sample(data_dir, prediction_time):
    file_info = {}
    auction_appearances = {}

    for root, dirs, files in os.walk(data_dir):
        for filename in tqdm(files):
            filepath = os.path.join(root, filename)
            date = datetime.strptime(filename.split('.')[0], '%Y%m%dT%H')
            file_info[filepath] = date

    file_info = {k: v for k, v in sorted(file_info.items(), key=lambda item: item[1])}
    
    raw_auctions = []
    
    for filepath in list(file_info.keys()):
        with open(filepath, 'r') as f:
            try:
                json_data = json.load(f)
                
                if 'auctions' not in json_data:
                    print(f"File {filepath} does not contain 'auctions' key, skipping.")
                    continue
                
                auction_data = json_data['auctions']
                timestamp = file_info[filepath]
                
                for auction in auction_data:
                    auction_id = auction['id']

                    if auction_id not in auction_appearances:
                        auction_appearances[auction_id] = {'first': timestamp, 'last': timestamp}
                    else:
                        auction_appearances[auction_id]['last'] = timestamp
                
                if prediction_time is not None:
                    if timestamp == prediction_time:
                        raw_auctions.extend(auction_data)
                else:
                    raw_auctions.extend(auction_data)

            except json.JSONDecodeError as e:
                print(f"Error loading file {filepath}: {e}")
                continue
            except Exception as e:
                print(f"Unexpected error loading file {filepath}: {e}")
                continue

    auctions = []
    for auction in tqdm(raw_auctions):
        first_appearance = auction_appearances[auction['id']]['first']
        last_appearance = auction_appearances[auction['id']]['last']

        auction_id = auction['id']
        item_id = auction['item']['id']
        item_index = item_to_idx[str(item_id)]
        bid = auction.get('bid', 0) / 10000.0
        buyout = auction['buyout'] / 10000.0
        quantity = auction['quantity']
        time_left = time_left_mapping[auction['time_left']]
        context = context_to_idx[str(auction['item'].get('context', 0))]
        bonus_lists = [bonus_to_idx[str(bonus)] for bonus in auction['item'].get('bonus_lists', [])]
        modifiers = auction['item'].get('modifiers', [])

        modifier_types = []
        modifier_values = []

        for modifier in modifiers:
            modifier_types.append(modtype_to_idx[str(modifier['type'])])
            modifier_values.append(modifier['value'])

        if 'pet_species_id' in auction['item']:
            continue

        first_appearance = first_appearance.strftime('%Y-%m-%d %H:%M:%S')
        last_appearance = last_appearance.strftime('%Y-%m-%d %H:%M:%S')

        auctions.append([
            auction_id,
            item_index,
            bid,
            buyout,
            quantity,
            time_left,
            context,
            bonus_lists,
            modifier_types,
            modifier_values,
            first_appearance,
            last_appearance
        ])
        
    df_auctions = pd.DataFrame(auctions, columns=['id', 'item_index', 'bid', 'buyout', 'quantity', 'time_left', 'context', 'bonus_lists', 'modifier_types', 'modifier_values', 'first_appearance', 'last_appearance'])
    df_auctions['first_appearance'] = pd.to_datetime(df_auctions['first_appearance'])
    df_auctions['last_appearance'] = pd.to_datetime(df_auctions['last_appearance'])

    df_auctions = df_auctions[(df_auctions['first_appearance'] <= prediction_time) & (df_auctions['last_appearance'] >= prediction_time)]

    df_auctions['current_hours'] = (prediction_time - df_auctions['first_appearance']).dt.total_seconds() / 3600
    df_auctions['hours_on_sale'] = (df_auctions['last_appearance'] - prediction_time).dt.total_seconds() / 3600

    return df_auctions

data_dir = '../data/sample/'

df_auctions = load_auctions_from_sample(data_dir, prediction_time)

print("Auctions shape:", df_auctions.shape)
df_auctions.head()

0it [00:00, ?it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
100%|██████████| 24/24 [00:00<00:00, 47482.69it/s]
100%|██████████| 24/24 [00:00<00:00, 73262.95it/s]
100%|██████████| 22/22 [00:00<00:00, 97645.17it/s]
100%|██████████| 24/24 [00:00<00:00, 105738.76it/s]
  0%|          | 0/24 [00:00<?, ?it/s]

100%|██████████| 24/24 [00:00<00:00, 79450.12it/s]
100%|██████████| 99131/99131 [00:01<00:00, 59079.89it/s]

Auctions shape: (90433, 14)

,id,item_index,bid,buyout,quantity,time_left,context,bonus_lists,modifier_types,modifier_values,first_appearance,last_appearance,current_hours,hours_on_sale
0,1619557849,16874,0.0,2219.81,1,12.0,22,"[1083, 766, 1113, 1111, 421, 1129, 321]",[4],[2462],2025-03-18 04:00:00,2025-03-20 04:00:00,44.0,4.0
1,1618838050,13815,0.0,41006.22,1,2.0,12,"[375, 734, 1161]",[4],[708],2025-03-18 01:00:00,2025-03-20 01:00:00,47.0,1.0
2,1618591925,16890,0.0,8290.00,1,2.0,60,"[1105, 766, 360, 1129]","[3, 4]","[73, 2832]",2025-03-18 01:00:00,2025-03-20 00:00:00,47.0,0.0
3,1619694628,3062,0.0,1066.23,1,12.0,0,"[767, 373]","[3, 4]","[30, 35]",2025-03-18 05:00:00,2025-03-20 04:00:00,43.0,4.0
4,1620037804,3018,0.0,427.48,1,12.0,0,"[767, 373]","[3, 4]","[30, 35]",2025-03-18 06:00:00,2025-03-20 06:00:00,42.0,6.0

In [5]:
df_auctions[['current_hours', 'hours_on_sale']].describe()

       current_hours  hours_on_sale
count   90433.000000   90433.000000
mean       17.838256      15.888901
std        14.670102      13.320003
min         0.000000       0.000000
25%         5.000000       4.000000
50%        16.000000      14.000000
75%        27.000000      23.000000
max        48.000000      48.000000

In [6]:
model = AuctionTransformer.load_from_checkpoint(
    '../models/auction_transformer_7.2M_128b_wpos_ch_filtered/last-v1.ckpt',
    map_location=device
)

print(f'Number of model parameters: {sum(p.numel() for p in model.parameters())}')
model.eval()
print('Pre-trained Transformer model loaded successfully.')

Number of model parameters: 7208865
Pre-trained Transformer model loaded successfully.

/home/angel/miniconda3/lib/python3.12/site-packages/lightning/pytorch/utilities/migration/utils.py:56: The loaded checkpoint was produced with Lightning v2.5.1, which is newer than your current Lightning version: v2.5.0.post0

In [9]:
from src.models.inference import predict_dataframe

model = model.to('cuda')
df_auctions = predict_dataframe(model, df_auctions, prediction_time, feature_stats)

print("Mean hours on sale:", df_auctions['hours_on_sale'].mean())
print("Mean prediction:", df_auctions['prediction'].mean())
print("Mean sale probability:", df_auctions['sale_probability'].mean())

df_auctions.head()

100%|██████████| 15643/15643 [00:11<00:00, 1343.35it/s]
100%|██████████| 15643/15643 [02:06<00:00, 123.41it/s]

Skipped 23425 auctions from 15643 item indices
Mean hours on sale: 16.1349988061127
Mean prediction: 21.471797845033425
Mean sale probability: 0.46270142309251333

,id,item_index,bid,buyout,quantity,time_left,context,bonus_lists,modifier_types,modifier_values,first_appearance,last_appearance,current_hours,hours_on_sale,prediction,sale_probability
1,1618838050,13815,0.0,41006.22,1,2.0,12,"[375, 734, 1161]",[4],[708],2025-03-18 01:00:00,2025-03-20 01:00:00,47.0,1.0,12.56,0.604412
3,1619694628,3062,0.0,1066.23,1,12.0,0,"[767, 373]","[3, 4]","[30, 35]",2025-03-18 05:00:00,2025-03-20 04:00:00,43.0,4.0,18.03,0.485243
4,1620037804,3018,0.0,427.48,1,12.0,0,"[767, 373]","[3, 4]","[30, 35]",2025-03-18 06:00:00,2025-03-20 06:00:00,42.0,6.0,23.56,0.388761
6,1620157406,16433,0.0,2010.24,1,12.0,38,[],[4],[2163],2025-03-18 07:00:00,2025-03-20 07:00:00,41.0,7.0,9.24,0.690374
7,1620355747,6186,0.0,825.00,1,12.0,3,"[767, 361]","[3, 4]","[30, 1074]",2025-03-18 09:00:00,2025-03-20 08:00:00,39.0,8.0,11.26,0.636648

In [68]:
df_auctions_12h = df_auctions[df_auctions['current_hours'] <= 12]
#df_auctions_12h = df_auctions_12h[df_auctions_12h['time_left'] > 12.0]
len(df_auctions_12h)

mae = mean_absolute_error(df_auctions_12h['hours_on_sale'], df_auctions_12h['prediction'])
print(f"Mean absolute error: {mae}")

Mean absolute error: 8.46062339147841

In [24]:
df_auctions.sample(5)

,id,item_index,bid,buyout,quantity,time_left,context,bonus_lists,modifier_types,modifier_values,first_appearance,last_appearance,current_hours,hours_on_sale,prediction,sale_probability
36405,1623541513,4375,0.00,4031.70,1,12.0,0,[],[4],[1418],2025-03-19 03:00:00,2025-03-20 02:00:00,21.0,2.0,13.13,0.590716
71655,1626445456,8660,0.00,1020.20,1,12.0,0,[],[4],[1734],2025-03-19 20:00:00,2025-03-20 07:00:00,4.0,7.0,8.69,0.705761
71930,1626469190,5007,88049.17,88938.56,1,48.0,2,"[768, 373]","[3, 4]","[30, 200]",2025-03-19 20:00:00,2025-03-21 19:00:00,4.0,43.0,41.12,0.192290
29443,1622850836,11613,0.00,11214.60,1,48.0,0,[],[4],[860],2025-03-19 01:00:00,2025-03-21 00:00:00,23.0,24.0,29.60,0.305199
49061,1625113472,1836,0.00,1498.51,1,12.0,0,[],[4],[1418],2025-03-19 12:00:00,2025-03-20 11:00:00,12.0,11.0,8.56,0.709469

In [12]:
# save the dataframe to excel
df_auctions_12h.to_excel('../generated/predictions.xlsx', index=False)

### Binary classification

In [67]:
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

df_auctions_12h['sold_gt'] = df_auctions_12h['hours_on_sale'] <= 12
df_auctions_12h['sold_pred'] = df_auctions_12h['sale_probability'] >= 0.8

accuracy = accuracy_score(df_auctions_12h['sold_gt'], df_auctions_12h['sold_pred'])
precision = precision_score(df_auctions_12h['sold_gt'], df_auctions_12h['sold_pred'])
recall = recall_score(df_auctions_12h['sold_gt'], df_auctions_12h['sold_pred'])
f1 = f1_score(df_auctions_12h['sold_gt'], df_auctions_12h['sold_pred'])

print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1 score: {f1}")

Accuracy: 0.9225975898650737
Precision: 0.7857142857142857
Recall: 0.00727994705493051
F1 score: 0.014426229508196721

In [55]:
df_auctions_12h[df_auctions_12h['sold_pred'] == True].sample(5)

,id,item_index,bid,buyout,quantity,time_left,context,bonus_lists,modifier_types,modifier_values,first_appearance,last_appearance,current_hours,hours_on_sale,prediction,sale_probability,sold_gt,sold_pred,correct
86807,1627272679,10863,97000.0,99591.64,1,48.0,6,[],[4],[872],2025-03-20 00:00:00,2025-03-20 12:00:00,0.0,12.0,4.07,0.849361,True,True,True
78772,1626925128,5629,0.0,4778.98,1,48.0,2,[],[4],[1418],2025-03-19 23:00:00,2025-03-20 01:00:00,1.0,1.0,4.16,0.846189,True,True,True
87925,1627314533,16240,0.0,4858.50,1,48.0,2,[],[],[],2025-03-20 00:00:00,2025-03-20 00:00:00,0.0,0.0,4.35,0.840001,True,True,True
82640,1627113636,16017,0.0,3704.33,1,48.0,5,[],[],[],2025-03-19 23:00:00,2025-03-20 00:00:00,1.0,0.0,5.18,0.812310,True,True,True
87911,1627313906,16252,0.0,4388.84,1,48.0,5,[],[],[],2025-03-20 00:00:00,2025-03-20 00:00:00,0.0,0.0,5.29,0.808809,True,True,True

## Error analysis

In [ ]:
columns = [
    'item_name',
    'bid',
    'buyout',
    'quantity',
    'time_left',
    'first_appearance',
    'last_appearance',
    'hours_since_first_appearance',
    'hours_on_sale',
    'prediction',
    'sale_probability'
]

df_error = df_auctions[columns].copy()
df_error['error'] = np.abs(df_error['hours_on_sale'] - df_error['prediction'])
df_error['time_left'] = df_error['time_left'].map(time_left_mapping)

df_error.head()

In [ ]:
plt.boxplot(df_error[['hours_on_sale', 'prediction']])
plt.grid()
plt.show()

In [ ]:
# histogram of hours on sale and prediction
plt.hist(df_error['hours_on_sale'], bins=50, alpha=0.5, label='Hours on sale')
plt.hist(df_error['prediction'], bins=50, alpha=0.5, label='Prediction')
plt.legend(loc='upper right')
plt.grid()
plt.show()

In [ ]:
plt.hist(df_error[(df_error['time_left'] == 48.0) & (df_error['hours_since_first_appearance'] < 12)]['hours_on_sale'], bins=50, alpha=0.5, label='Hours on sale')
plt.hist(df_error[(df_error['time_left'] == 48.0) & (df_error['hours_since_first_appearance'] < 12)]['prediction'], bins=50, alpha=0.5, label='Prediction')
plt.legend(loc='upper right')
plt.grid()
plt.show()

In [ ]:
plt.hist(df_error['hours_since_first_appearance'], bins=15)
plt.grid()
plt.show()

We are interested in evaluating the model when the items are recently published, because this will be the main use case for the model

In [ ]:
query = (df_error['hours_since_first_appearance'] <= 12) & (df_error['hours_on_sale'] <= 5) & (df_error['time_left'] == 48.0)
query_df = df_error[query]
print(f"Mean sale probability: {query_df['sale_probability'].mean()}")
print(f"Mean error: {query_df['error'].mean()}")
print(f"Mean hours on sale: {query_df['hours_on_sale'].mean()}")
query_df.sample(10)

In [ ]:
query_df['hours_on_sale'].hist(bins=10)
plt.grid()
plt.show()

In [ ]:
corr_matrix = df_error[['bid', 'buyout', 'quantity', 'time_left', 'hours_since_first_appearance', 'sale_probability',
                        'hours_on_sale', 'prediction', 'error']].corr()

plt.figure(figsize=(10, 8))

sns.heatmap(corr_matrix, 
            annot=True, 
            cmap='coolwarm',
            vmin=-1, vmax=1, 
            center=0,
            fmt='.2f',
            square=True) 

plt.xticks(rotation=45, ha='right')
plt.yticks(rotation=0)

plt.tight_layout()

plt.show()

In [18]:
df_error.to_csv('../generated/predictions.csv', index=False)

# Eval validation

In [69]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import h5py
import sys
from tqdm import tqdm
from datetime import datetime
pd.options.mode.chained_assignment = None

from pathlib import Path

repo_root = Path.cwd().parent.resolve()
sys.path.append(str(repo_root))

from sklearn.model_selection import train_test_split
from src.data.auction_dataset import AuctionDataset

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)

cuda

In [ ]:
pairs = pd.read_csv('../generated/auction_indices.csv')
pairs = pairs[pairs['g_hours_on_sale_max'] < 50]
pairs = pairs[pairs['g_current_hours_max'] < 50]

train_pairs, val_pairs = train_test_split(pairs, test_size=0.15, random_state=42, shuffle=False)

print(f"Before filtering: {len(train_pairs)}")

train_pairs = train_pairs[train_pairs['g_hours_on_sale_len'] <= 32]
val_pairs = val_pairs[val_pairs['g_hours_on_sale_len'] <= 32]

print(f"After filtering: {len(train_pairs)}\n")

val_pairs = val_pairs[val_pairs['record'] < '2025-03-23']

print(f"Train pairs: {len(train_pairs)}")
print(f"Val pairs: {len(val_pairs)}")

Before filtering: 3268330
After filtering: 3221870

Train pairs: 3221870
Val pairs: 489959

In [77]:
val_pairs = val_pairs[val_pairs['record'] == '2025-03-20 00:00:00']
val_pairs.head()

,record,item_index,g_hours_on_sale_len,g_hours_on_sale_mean,g_hours_on_sale_std,g_hours_on_sale_min,g_hours_on_sale_max,g_current_hours_mean,g_current_hours_std,g_current_hours_min,g_current_hours_max
3389528,2025-03-20 00:00:00,13815,8,6.88,10.18,1.0,31.0,33.25,17.92,7.0,47.0
3389530,2025-03-20 00:00:00,3062,9,14.67,7.87,4.0,24.0,24.33,16.27,0.0,43.0
3389531,2025-03-20 00:00:00,3018,9,13.11,10.36,3.0,29.0,19.33,17.91,0.0,43.0
3389533,2025-03-20 00:00:00,16433,4,17.75,14.82,3.0,41.0,20.50,14.40,6.0,41.0
3389534,2025-03-20 00:00:00,6186,4,9.50,7.53,2.0,22.0,31.25,8.95,20.0,41.0

In [78]:
import json
import os

mappings_dir = '../generated/mappings'

with open(os.path.join(mappings_dir, 'item_to_idx.json'), 'r') as f:
    item_to_idx = json.load(f)

with open(os.path.join(mappings_dir, 'context_to_idx.json'), 'r') as f:
    context_to_idx = json.load(f)
    
with open(os.path.join(mappings_dir, 'bonus_to_idx.json'), 'r') as f:
    bonus_to_idx = json.load(f)

with open(os.path.join(mappings_dir, 'modtype_to_idx.json'), 'r') as f:
    modtype_to_idx = json.load(f)

feature_stats = torch.load('../generated/feature_stats.pt')

In [79]:
val_pairs.tail()

,record,item_index,g_hours_on_sale_len,g_hours_on_sale_mean,g_hours_on_sale_std,g_hours_on_sale_min,g_hours_on_sale_max,g_current_hours_mean,g_current_hours_std,g_current_hours_min,g_current_hours_max
3405165,2025-03-20 00:00:00,13237,1,31.0,0.0,31.0,31.0,0.0,0.0,0.0,0.0
3405166,2025-03-20 00:00:00,13229,1,47.0,0.0,47.0,47.0,0.0,0.0,0.0,0.0
3405167,2025-03-20 00:00:00,13240,1,47.0,0.0,47.0,47.0,0.0,0.0,0.0,0.0
3405168,2025-03-20 00:00:00,13241,1,8.0,0.0,8.0,8.0,0.0,0.0,0.0,0.0
3405169,2025-03-20 00:00:00,10895,5,24.0,0.0,24.0,24.0,0.0,0.0,0.0,0.0

In [165]:
from src.models.auction_transformer import AuctionTransformer

model = AuctionTransformer.load_from_checkpoint(
    '../models/auction_transformer_7.2M_128b_wpos_ch_filtered/last-v1.ckpt',
    map_location=device
)

print(f'Number of model parameters: {sum(p.numel() for p in model.parameters())}')
model.eval()
print('Pre-trained Transformer model loaded successfully.')

Number of model parameters: 7208865
Pre-trained Transformer model loaded successfully.

In [177]:
from src.data.auction_dataset import AuctionDataset
from src.data.utils import collate_auctions

batch_size = 32

val_dataset = AuctionDataset(val_pairs, feature_stats=feature_stats, path='../generated/sequences.h5')
val_dataloader = torch.utils.data.DataLoader(val_dataset, batch_size=batch_size, shuffle=False, collate_fn=collate_auctions)

Dataset size: 15431

In [178]:
# evaluate the model on the validation set
total_mse = 0
total_mae = 0
total_samples = 0

with torch.no_grad():
    for batch in tqdm(val_dataloader):
        (auctions, item_index, contexts, bonus_lists, modifier_types, modifier_values, current_hours), y = batch

        auctions = auctions.to(device)
        item_index = item_index.to(device)
        contexts = contexts.to(device)
        bonus_lists = bonus_lists.to(device)
        modifier_types = modifier_types.to(device)
        modifier_values = modifier_values.to(device)
        current_hours = current_hours.to(device)
        y = y.to(device)
        
        #print(f'auctions {auctions[0]}')
        #print(f'item_index {item_index[0]}')
        #print(f'contexts {contexts[0]}')
        #print(f'bonus_lists {bonus_lists[0]}')
        #print(f'modifier_types {modifier_types[0]}')
        #print(f'modifier_values {modifier_values[0]}')

        model.eval()
        y_hat = model((auctions, item_index, contexts, bonus_lists, modifier_types, modifier_values))

        # write this to a file (auctions, item_index, contexts, bonus_lists, modifier_types, modifier_values)
        with open('auctions.txt', 'w') as f:
            f.write(f'auctions: {auctions[0]}\n')
            f.write(f'item_index: {item_index[0]}\n')
            f.write(f'contexts: {contexts[0]}\n')
            f.write(f'bonus_lists: {bonus_lists[0]}\n')
            f.write(f'modifier_types: {modifier_types[0]}\n')
            f.write(f'modifier_values: {modifier_values[0]}\n')
            f.write(f'current_hours: {current_hours[0]}\n')
            f.write(f'y_hat: {y_hat[0]}\n')
        
        mask = (item_index != 0).float().unsqueeze(-1)
        current_hours_mask = (current_hours <= 12.0).float().unsqueeze(-1)
        mask = mask * current_hours_mask
        
        mse = torch.nn.functional.mse_loss(y_hat * mask, y.unsqueeze(2) * mask) / mask.sum()
        mae = torch.nn.functional.l1_loss(
            y_hat * mask * 48.0,
            y.unsqueeze(2) * mask * 48.0,
            reduction='sum'
        ) / mask.sum()

        print((y_hat* 48.0 * mask).squeeze(2)[1])
        print((y.unsqueeze(2) * mask * 48.0).squeeze(2)[1])
        
        total_mse += mse.item() * mask.sum()
        total_mae += mae.item() * mask.sum()
        total_samples += mask.sum()

        break

avg_mse = total_mse / total_samples
avg_mae = total_mae / total_samples
print(f'Validation MSE: {avg_mse}')
print(f'Validation MAE: {avg_mae}')

  0%|          | 0/483 [00:00<?, ?it/s]

tensor([ 0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000, 25.7922, 39.7687,
        23.8637,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
         0.0000,  0.0000,  0.0000], device='cuda:0')
tensor([ 0.,  0.,  0.,  0.,  0.,  0., 12., 23., 23.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.], device='cuda:0')
Validation MSE: 7.23136035958305e-05
Validation MAE: 7.702390193939209

In [112]:
from src.models.inference import predict_dataframe

predict_dataframe(model, df_auctions[df_auctions['item_index'] == 13815], prediction_time, feature_stats)

100%|██████████| 1/1 [00:00<00:00, 455.80it/s]
100%|██████████| 1/1 [00:00<00:00, 32.12it/s]

Skipped 0 auctions from 1 item indices

,id,item_index,bid,buyout,quantity,time_left,context,bonus_lists,modifier_types,modifier_values,first_appearance,last_appearance,current_hours,hours_on_sale,prediction,sale_probability
1,1618838050,13815,0.00,41006.22,1,2.0,12,"[375, 734, 1161]",[4],[708],2025-03-18 01:00:00,2025-03-20 01:00:00,47.0,1.0,12.56,0.604412
2243,1618838201,13815,0.00,41006.22,1,2.0,12,"[369, 734, 803]",[4],[708],2025-03-18 01:00:00,2025-03-20 01:00:00,47.0,1.0,12.02,0.617663
3234,1618838288,13815,0.00,41006.22,1,2.0,12,"[388, 734, 801]",[4],[708],2025-03-18 01:00:00,2025-03-20 01:00:00,47.0,1.0,11.69,0.625694
7549,1618838338,13815,0.00,41006.22,1,2.0,12,"[381, 734, 800]",[4],[708],2025-03-18 01:00:00,2025-03-20 01:00:00,47.0,1.0,11.31,0.635498
8992,1618838116,13815,0.00,41006.22,1,2.0,12,"[387, 734, 802]",[4],[708],2025-03-18 01:00:00,2025-03-20 01:00:00,47.0,1.0,11.96,0.619147
44993,1624653045,13815,67499.25,89999.00,1,48.0,12,"[396, 734]",[4],[708],2025-03-19 08:00:00,2025-03-21 07:00:00,16.0,31.0,16.71,0.511740
58513,1625590278,13815,0.00,7499.90,1,48.0,12,"[359, 734]",[4],[708],2025-03-19 16:00:00,2025-03-20 15:00:00,8.0,15.0,19.95,0.449298
63736,1625891920,13815,0.00,7499.89,1,12.0,12,"[366, 734]",[4],[708],2025-03-19 17:00:00,2025-03-20 04:00:00,7.0,4.0,3.57,0.866731